
body {
  margin: 0px;
  margin-top: 6vh;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.content-boxes {
  display: flex;
  flex-direction: row;
  margin: 1vh;
  flex-wrap: wrap;
}

.mission-box {
  background-color: rgba(179, 179, 231, 0.507);
  border-radius: 5px;
  margin: 1vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.box {
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  max-width: 45vh;
  max-height: 50vw;
  border-radius: 12px;
  overflow: hidden;
}
h1 {
  text-align: center;
}

p{
  text-align: center;
}


.main-page-img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.box-img {
  width: auto;
  height: auto;
  object-fit: contain;
  background-color: rgb(179, 179, 231);
}

.dropdown {
    float: right;
    overflow: hidden;
}


/* FOR PC USERS */
@media only screen and (min-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cover-card {
    max-height: 600px;
    overflow: hidden;
  }

  .box {
    margin: 4vh;
    max-width: 35vh;
    max-height: 40vw;
  }

  .intro{
    display: flex;
    align-items: center;
    margin: 22vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .mission-box {
    width: 50%;
    background-color: white;
    color: rgb(27, 27, 27);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
  }

  .content-boxes {
    border: 2px rgb(192, 191, 191) solid;
    background-color: rgba(233, 233, 233, 0.349);
    border-radius: 15px;
    padding: 10px;
  }

}