.header {
    padding: 0px;
    margin: 0px;
    text-align: left;
    background: #2594c8;
    color: rgb(255, 255, 255);
    font-family:Comic Sans MS, Comic Sans, cursive;
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.header_img {
    max-width: 100%;
}

.header_drop {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
.content{
    padding: 10px;
}

.main_page_img {
    max-width: 100%;
}


html {
    overflow: hidden;
    height: 100%;
}


body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.dropdown {
    float: left;
    overflow: hidden;
}


/* NAVBAR */

.navbar {
    overflow: hidden;
    background-color: #26272b;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 22px;  
    border: none;
    outline: none;
    color: white;
    padding: 0px;
    background-color: inherit;
    font-family: inherit;
    align-items: center;
    /* background-color: #ddd; */
    margin: 5px;
  }
  
  .dropdown-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;
  }
  
  .dropdown-content a {
    float: none;
    text-align: center;
    color: black;
    background-color: #ddd;
    padding: 12px 16px;
    margin: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

  .none {
    display: none;
  }

/* END */

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 142px; 
  }


.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.site-footer
{
    margin-top: auto;
    text-align: center;
    height: 10vh;
    position: relative;

    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}


/* 
.site-title{
    text-align: right;
    padding-right: 10px;
} */

/* Responsive Styling */
@media screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
    }

    .social-links {
        margin-top: 10px;
    }
}
