.header {
    padding: 1.5vh;
    margin: 0px;
    text-align: right;
    background: #1d5dff;  
    font-family:Comic Sans MS, Comic Sans, cursive;
    
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    height: auto;
    max-height: 20vh;
    /* overflow: hidden; */

    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
}


/* FOR PC USERS */
@media only screen and (min-width: 600px) {
  .header {
    padding: 1vw;
    margin: 0px;
    text-align: right;
    background: #1d5dff;  
    font-family:Comic Sans MS, Comic Sans, cursive;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 5vh;
    /* overflow: hidden; */

    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
  }
  .dropdown-content {
    padding: 1vw;
    font-size: 1.5vw;
    text-transform: uppercase;
  }

  .dropdown button {
    display: none;
  }
  

  .content{
    padding: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .site-footer {
      margin-top: auto;
      text-align: center;
      height: 10vh;
      position: relative;

      background-color:transparent;
      outline: 2px;
      padding:5vw 0 2vh;
      font-size:1vh;
      line-height:1.5vw;
      color:#737373;
  }

  .dropdown .dropbtn {
    display: none;
  }

  .dropdown-content {
    display: flex;
  }
}

.content{
  padding: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main_page_img {
    max-width: 50vw;
}


body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.dropdown {
    float: right;
    overflow: hidden;
}


a {
  color:white;
  text-decoration: none;
}

/* NAVBAR */

.navbar {
    overflow: hidden;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 22px;  
    border: none;
    outline: none;
    color: white;
    padding: 0px;
    background-color: transparent;
    font-family: inherit;
    align-items: center;
    /* background-color: #ddd; */
    margin-right: 8vw;
  }
  
  @media only screen and (max-width: 600px) {
    .dropdown-content {
      display: none;
      background-color: transparent;
      padding: 3vw;
    }
  

    .dropdown button {
      background: transparent;
      color:white;
      outline: none;
      border: none;
    }
    
  }

  .dropdown-content a {
    float: none;
    text-align: right;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    margin: 5vw;
    flex-direction: column;
    justify-items:stretch;  
  
  }


  .dropdown-content a:hover {
    background-color: rgb(37, 37, 255);
  }
  
  .show {
    display: block;
  }

  .none {
    display: none;
  }

/* END */

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 142px; 
  }


.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.site-footer
{
    margin-top: auto;
    text-align: center;
    height: 10vh;
    position: relative;

    border-top: 1px solid rgb(215, 215, 215);
    background-color:transparent;
    padding:5vw 0 2vh;
    font-size:0.8vh;
    line-height:1.5vw;
    color:#060606;
}


/* 
.site-title{
    text-align: right;
    padding-right: 10px;
} */

/* Responsive Styling */
@media screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
    }

    .social-links {
        margin-top: 10px;
    }
}
