<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>footer</title>
</head>
<body>
    <footer class="site-footer">
        <div class="contact-info">
            <p>contact us : 123-234-1234<p>
            <p>example@hotmail.com</p>
        </div>
        <div class="social-links">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        
    </footer>
</body>
</html>