<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>navbar</title>
</head>
<body>
    
</body>
</html>
<nav id="navbar">

    <div class="dropdown">
        <button class="dropbtn" id="myBtn" onclick="myFunction()"> ☰
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="../../index.html">HOME</a>
            <a href="../../pages/curriculum/curriculum.html">Curriculum</a>
            <a href="../../pages/enrollment/enrollment.html">Enrollment</a>
            <a href="../../pages/about/about.html">About Us</a>
            <button > ✖ </button>
        </div>

    </div>
</nav>