<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>navbar</title>
</head>
<body>
    <nav id="navbar">

        <div class="dropdown">
            <button class="dropbtn" id="myBtn" onclick="myFunction()"> ☰
            </button>
    
            <div class="dropdown-content" id="myDropdown">
                <a id="Home" href="#">HOME</a>
                <a id="Curriculum" href="#">Curriculum</a>
                <a id="Enrollment" href="#">Enrollment</a>
                <a id="About" href="#">About Us</a>
                <button > ✖ </button>
            </div>
        </div>
    </nav>
</body>
</html>